<div class="dashboard">
  <div class="page-content">
    <div class="row stats-row">
      <div class="col">
        <div class="stats-card">
          <div class="content">
            <div class="description">Avaliações feitas no período</div>
            <div class="title-container">
              <h2 class="title">238</h2>
              <div class="badge positive">+2,5%</div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="row dashboard-sections">
      <div class="col-md-6">
        <div class="dashboard-section">
          <h3>Perfil de dimensões</h3>
          <div class="legend-and-button">
            <div class="legend">
              <div class="legend-item">
                <span class="legend-color orange"></span>
                <span>NÃO para todos os itens (37%)</span>
              </div>
              <div class="legend-item">
                <span class="legend-color pink"></span>
                <span>SIM de 1 a 4 itens (63%)</span>
              </div>
            </div>

            <div class="dense-1">
              <mat-form-field class="dimension-select">
                <mat-label>Selecione</mat-label>
                <mat-select [(ngModel)]="selectedDimension">
                  <mat-option
                    *ngFor="let option of dimensionOptions"
                    [value]="option"
                  >
                    {{ option }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <!-- Pie Chart for Perfil de dimensões -->
          <div class="chart-container">
            <ngx-charts-pie-chart
              [results]="dimensionData"
              [scheme]="dimensionColors"
              [labels]="true"
              [doughnut]="false"
            ></ngx-charts-pie-chart>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="dashboard-section">
          <h3>Perfil de Fragilidade</h3>
          <div class="legend-and-button">
            <div class="legend">
              <div class="legend-item">
                <span class="legend-color yellow"></span>
                <span>Frágil</span>
              </div>
              <div class="legend-item">
                <span class="legend-color green"></span>
                <span>Não-Frágil</span>
              </div>
              <div class="legend-item">
                <span class="legend-color dark-blue"></span>
                <span>Saudável</span>
              </div>
            </div>
          </div>
          <!-- Grouped Bar Chart for Perfil de Fragilidade -->
          <div class="chart-container">
            <ngx-charts-bar-vertical-2d
              [results]="fragilityData"
              [scheme]="fragilityColors"
              [xAxis]="true"
              [yAxis]="true"
              [showXAxisLabel]="false"
              [showYAxisLabel]="false"
              [xAxisLabel]="'Período Selecionado'"
              [yAxisLabel]="'Número de Pacientes'"
            ></ngx-charts-bar-vertical-2d>
          </div>
        </div>
      </div>
    </div>

    <div class="row demographics-row">
      <div class="col-md-6">
        <div class="dashboard-section">
          <h3>Perfil Sociodemográfico</h3>
          <div class="legend-and-button">
            <div class="legend">
              <div class="legend-item">
                <span class="legend-color red"></span>
                <span>Negro (30%)</span>
              </div>
              <div class="legend-item">
                <span class="legend-color cyan"></span>
                <span>Branco (58%)</span>
              </div>
              <div class="legend-item">
                <span class="legend-color purple"></span>
                <span>Pardo (12%)</span>
              </div>
            </div>

            <div class="dense-1">
              <mat-form-field class="dimension-select">
                <mat-label>Selecione</mat-label>
                <mat-select [(ngModel)]="selectedDemographic">
                  <mat-option
                    *ngFor="let option of demographicOptions"
                    [value]="option"
                  >
                    {{ option }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <!-- Pie Chart for Perfil Sociodemográfico -->
          <div class="chart-container">
            <ngx-charts-pie-chart
              [results]="demographicData"
              [scheme]="demographicColors"
              [labels]="true"
              [doughnut]="false"
            ></ngx-charts-pie-chart>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="dashboard-section">
          <h3>Profissionais que mais fizeram avaliações</h3>
          <div class="legend-and-button">
            <div class="legend">
              <div class="legend-item">
                <span class="legend-color dark-purple"></span>
                <span>Enfermeiro</span>
              </div>
              <div class="legend-item">
                <span class="legend-color gold"></span>
                <span>Médico</span>
              </div>
              <div class="legend-item">
                <span class="legend-color dark-blue"></span>
                <span>Assistente social</span>
              </div>
            </div>
          </div>
          <!-- Grouped Bar Chart for Profissionais -->
          <div class="chart-container">
            <ngx-charts-bar-vertical-2d
              [results]="professionalData"
              [scheme]="professionalColors"
              [xAxis]="true"
              [yAxis]="true"
              [showXAxisLabel]="false"
              [showYAxisLabel]="false"
              [xAxisLabel]="'Período Selecionado'"
              [yAxisLabel]="'Número de Avaliações'"
            ></ngx-charts-bar-vertical-2d>
          </div>
        </div>
      </div>
    </div>

    <div class="row outcomes-row">
      <div class="col-12">
        <div class="dashboard-section">
          <h3>Pontuação dos desfechos</h3>
          <div class="legend-and-button">
            <div class="legend">
              <div class="legend-item">
                <span class="legend-color pink"></span>
                <span>Humor</span>
              </div>
              <div class="legend-item">
                <span class="legend-color green"></span>
                <span>Cognição</span>
              </div>
              <div class="legend-item">
                <span class="legend-color orange"></span>
                <span>Limitação Física</span>
              </div>
              <div class="legend-item">
                <span class="legend-color purple"></span>
                <span>Visão</span>
              </div>
              <div class="legend-item">
                <span class="legend-color red"></span>
                <span>Quedas</span>
              </div>
              <div class="legend-item">
                <span class="legend-color yellow"></span>
                <span>Audição</span>
              </div>
            </div>

            <div class="dense-1">
              <mat-form-field class="dimension-select">
                <mat-label>Classificar por</mat-label>
                <mat-select [(ngModel)]="selectedOutcome">
                  <mat-option
                    *ngFor="let option of outcomeOptions"
                    [value]="option"
                  >
                    {{ option }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <!-- Grouped Bar Chart for Pontuação dos desfechos -->
          <div class="chart-container">
            <ngx-charts-bar-vertical-2d
              [results]="outcomeData"
              [scheme]="outcomeColors"
              [xAxis]="true"
              [yAxis]="true"
              [showXAxisLabel]="false"
              [showYAxisLabel]="false"
              [xAxisLabel]="'Período Selecionado'"
              [yAxisLabel]="'Pontuação'"
            ></ngx-charts-bar-vertical-2d>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>